/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.4%;
  font-family: "urbanist";
  letter-spacing: 0.1rem;
}

/* Navbar & Footer */
.navbar,
footer {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #333;
  height: 100px;
}

.navbar-links {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  list-style: none;
}

.navbar-links li {
  margin: 0 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

.navbar-links a:hover {
  color: #ff6347;
}

footer {
  font-size: 1.7rem;
}

/* Flex utilities */
.display-flex,
.display-flex-center,
.signup-content,
.signin-content,
.social-login,
.socials {
  display: flex;
}

.display-flex {
  justify-content: space-between;
  align-items: center;
}

.display-flex-center {
  justify-content: center;
  align-items: center;
}

/* List reset */
.socials,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Links & Inputs */
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease;
}

input,
select,
textarea {
  outline: none;
  appearance: none !important;
  font-size: 1.6rem;
  font-family: urbanist;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  margin: 0;
}

input[type="checkbox"] {
  appearance: checkbox !important;
}

input[type="radio"] {
  appearance: radio !important;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 0;
  font-size: 15px;
  color: #777;
}

h2 {
  line-height: 1.66;
  font-weight: bold;
  color: #222;
  font-family: urbanist;
  font-size: 36px;
  margin: 0;
}

.main {
  background: #f8f8f8;
  padding: 150px 0;
}

body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-family: urbanist;
}

/* Container */
.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 900px;
  margin: 0 auto;
  box-shadow: 0px 15px 17px rgba(0, 0, 0, 0.05);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.url-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

form div {
  margin-bottom: 15px;
  text-align: left;
}

input[type="url"],
input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  background-color: #4a90e2;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357ac9;
}

/* Signup/Signin */
.signup {
  margin-bottom: 150px;
}

.signup-content,
.signin-content {
  display: flex;
  padding: 75px 0;
}

.signup-form,
.signup-image,
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
}

.signup-image {
  margin: 45px 55px 0;
}

.form-title {
  margin-bottom: 33px;
}

figure {
  margin-bottom: 50px;
  text-align: center;
}

.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  padding: 15px 39px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 25px;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background: #4292dc;
}

#signin {
  margin-top: 16px;
}

.signup-image-link,
.term-service {
  font-size: 14px;
  color: #222;
  text-align: center;
  display: block;
}

/* Checkbox styles */
input[type="checkbox"]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  border: 1px solid #999;
  border-radius: 2px;
  background: white;
  vertical-align: bottom;
}

/* Social Icons */
.social-login {
  align-items: center;
  margin-top: 80px;
}

.socials li {
  padding: 5px;
}

.socials li a i {
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  transition: transform 0.3s ease;
}

.socials li:hover a i {
  transform: scale(1.3);
}

.zmdi-facebook {
  background: #3b5998;
}

.zmdi-twitter {
  background: #1da0f2;
}

.zmdi-google {
  background: #e72734;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .signup-content,
  .signin-content {
    flex-direction: column;
    justify-content: center;
  }

  .signup-form,
  .signin-form {
    margin: 0;
    padding: 0 30px;
  }

  .signup-image,
  .signin-image {
    margin: 50px 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .social-login {
    flex-direction: column;
  }

  .social-label {
    margin-bottom: 10px;
  }
}
